.Container {
    display: flex;
    background-color: black;
    flex-direction: row;
    margin: 5% auto;
    width: 635px;
    height: 430px;
    background: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}